.testBlock {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.7rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.03));
  border: 1px solid rgba(255, 255, 255, 0.02);
}
.testBlock a {
  color: var(--accent);
  text-decoration: underline;
}
